footer{
    border: 1px solid blue;
}
footer > nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
footer > nav > ul {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 16px;
    font-weight: 600px;
    gap: 20px;
}

footer > nav > ul > li {
    width: fit-content;
    &:hover{
        background-color: var(--primary-white);
        color: var(--primary-black);
    }
}
